<h1>Ingrese los datos a cargar</h1>

<form class="Formulario" action="api/productos" method="post">
  <input type="text" name="title" placeholder="title" /><br />
  <input type="number" name="price" placeholder="price" /><br />
  <input type="text" name="thumbnail" placeholder="thumbnail" /><br />
  <input type="submit" />

</form>

<a class="boton" href="/productos"><button>Consultar los productos cargados</button>
</a>

<style>
  .Formulario { text-align: center; } .boton { text-align: center; font-size:
  1.5em; }
</style>